.verseText {
  font-size: 1.125rem;   /* gut lesbar */
  line-height: 1.6;
  font-weight: 500;
  color: #e5e1e1;        /* dunkelgrau */
}

.quoteBox{
  width: 50%;
  box-sizing: border-box;   /* wichtig: padding+border zählen in die 100% hinein */
  border: 2px solid #df497b;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;  
  display: inline-block;  
  align-items: center; 
  font-size: medium;
  
}